.list__container {
    left: 0;
    top: -1000vh;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--background-window);
    z-index: 1;
    transition: 0.3s ease-in-out;
}

.list__open {
    top: 0;
}


.close-button {
    position: absolute;
    right: 0;
    margin: 16px;
    color: var(--text-color);
    font-size: 2em;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgba(172, 172, 172, 0.199);
    border-radius: 10px;
    z-index: 3;
}

.list-history {
    margin: 32px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(150, 150, 150, 0.288);
    border-radius: 16px;
}

.history {
    color: var(--text-color);
    text-align: center;
    
}

.list__table {
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    &--data {
        background-color: grey;
        padding: 16px;
        border-radius: 16px;
        margin: 16px;
    }
    &--value{
        background-color: #09A5FC;
        padding: 16px 32px;
        border-radius: 16px;
    }
}

