@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

body {
  background: $wtf;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container{ 
  position: relative;
}

// .water-glass {

// }

.counter {  
  top: 0;
  position: absolute;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center; 
  font-size: 112px;
}